html
{
  width: 100%;
  height: 100%;
  background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat 50% 50%;
  top: 0;
  /*position: fixed;*/
  z-index: -1;
}

@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0px;
}
nav {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-3 {
  background: #5175C0;
}

.link-3 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link-3:hover {
  background-color: #ffffff;
  color: #5175C0;
  padding: 24px 10px;
}







div.inhalt {
  height: 750px;
  width: 90%;
  z-index: 5;
  margin:0 auto;
  /*padding-left: 35px;
  padding-top: 20px;*/
  margin-top: 30px;
}

div#background_inhalt {
  height: 750px;
  width: 100%;
  z-index: 0;
  background-color: #b3b3b3; /*b3b3b3*/
  opacity:0.45;
  margin:0 auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  border: #262626 3px solid;
}
/*
#holder {
  position:relative;
}
*/
h1.text_heading {
  z-index: 6;
  position: absolute;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 35px;
  text-align: center;
  font-family: Raleway;

}

div.text_content {
  z-index: 6;
  position: absolute;
  padding-left: 35px;
  padding-top: 90px;
  height: 750px;
  width: 90%;
}










.footer #button{
  width:20px;
  height:20px;
  border: #5175C0 10px solid;
  border-radius:35px;
  margin:0 auto;
  position:relative;
    transition: all 1s ease;
}
.footer #button:hover{
  width:75px;
  height:35px;
  border: #3A3A3A 12px solid;
    transition: all 1s ease;
  position:relative;
}
.footer {
  bottom:0;
  left:0;
  position:fixed;
    width: 100%;
    height: 1.2em;
    overflow:hidden;
    margin:0 auto;
    transition: all 1s ease;
  z-index:999;
}
.footer:hover {
    transition: all 1s ease;
  height: 6.3em;
}
.footer #footer_button{
  margin-top:5px;
  width:100%;
  height:100%;
  position:relative;
    top:0;
    left:0;
  background: #3A3A3A;
}
.footer #cont{
  position:relative;
    top:-45px;
    right:190px;
  width:150px;
  height:auto;
  margin:0 auto;
}
.footer_center{
  width:500px;
  float:left;
    text-align:center;
}
.footer h3{
  font-family: 'Helvetica';
  font-size: 20px;
  font-weight: 100;
  margin-top:70px;
  margin-left: 35px ;
  text-decoration: none;
  color:#5175C0;
}

.footer a {
  text-decoration: none;
}









ul#accordion-slider{
 margin: 0;
 padding: 0;
 list-style: none;
 position: relative;
}
ul#accordion-slider li{
 display: block;
 overflow: hidden;
 float: left;
 width: 750px;
 height: 300px;
 padding-left: 50px;
 padding-bottom: 50px;
 margin:0 auto;
}